<!DOCTYPE html>
<html>
  <head>
    <title>MyForm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-dark py-3">
      <div class="container-fluid">
        <%=link_to "posts.com", root_path, class: "nav-link text-white px-5 fs-2" %>
        <ul class="navbar-nav me-auto pt-1">
          <li class="nav-item">
            <%= link_to "Nueva publicación", nueva_publicacion_path, class: "nav-link text-white text-start" %>
          </li>
        </ul>
        
      </div>
    </nav>
    <div class="container mt-5"><%= yield %></div>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
